.main-top {
  width: 7.5rem;
  height: 12.65rem;
  background: url("../image/main-top.png") no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.main-top > div:nth-child(2) {
  width: 3rem;
  height: 3rem;
  background: url("../image/six-snow23.png") no-repeat;
  background-size: auto 100%;
  position: absolute;
  top: 5.54rem;
  left: 2.34rem;
  -webkit-animation: snow 2s steps(22, end) 0ms infinite normal;
          animation: snow 2s steps(22, end) 0ms infinite normal;
}
.main-top > div:nth-child(3) {
  width: 100%;
  height: 5rem;
  background: url("../image/cannon-snow24.png") no-repeat;
  background-size: auto 100%;
  position: absolute;
  bottom: 0.65rem;
  left: 0;
  -webkit-animation: snow 2s steps(23, end) 0ms infinite normal;
          animation: snow 2s steps(23, end) 0ms infinite normal;
}

@-webkit-keyframes snow {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100%;
  }
}

@keyframes snow {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100%;
  }
}
.main-center {
  width: 7.5rem;
  height: 46.84rem;
  background: url("../image/main-center.png") no-repeat;
  background-size: 100% 100%;
  position: relative;
  margin-top: -1.1rem;
}
.main-center .header {
  width: 5.69rem;
  height: 1.97rem;
  background: url("../image/main-tab.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: -0.82rem;
  left: 0.905rem;
}
.main-center > section:nth-of-type(1) {
  position: absolute;
  top: 3.96rem;
  height: 8.95rem;
  font-size: 14px;
  color: #fff;
}
.main-center > section:nth-of-type(1) .c-rule1 {
  position: absolute;
  right: 0;
  width: 0.8rem;
  height: 0.65rem;
  margin-right: 0.48rem;
  cursor: pointer;
  border: 1px solid;
}
.main-center > section:nth-of-type(1) .s-numberOfTimes {
  padding-top: 0.46rem;
  height: 0.4rem;
  padding-left: 0.87rem;
  position: relative;
  display: inline-block;
}
.main-center > section:nth-of-type(1) .s-numberOfTimes .c-again {
  position: absolute;
  left: 3.36rem;
  display: inline-block;
  height: 0.4rem;
  width: 1.44rem;
  border: 1px solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
  cursor: pointer;
}
.main-center > section:nth-of-type(1) .c-title {
  text-align: center;
  margin: 0.6rem 0 0.35rem 0;
}
.main-center > section:nth-of-type(1) > ul {
  padding: 0 1rem;
}
.main-center > section:nth-of-type(1) > ul .a-card {
  cursor: pointer;
  width: 1.66rem;
  height: 2.48rem;
  background: url("../image/card-s.png") no-repeat;
  background-size: 100% 100%;
  float: left;
  margin-right: 0.26rem;
}
.main-center > section:nth-of-type(1) > ul .a-card:nth-child(3n) {
  margin-right: 0;
}
.main-center > section:nth-of-type(1) > ul .a-card:nth-child(n + 4) {
  margin-top: 0.26rem;
}
.main-center > section:nth-of-type(1) .c-record {
  position: absolute;
  height: 0.3rem;
  width: 1.94rem;
  border: 1px solid;
  bottom: 0.58rem;
  left: 2.78rem;
  cursor: pointer;
}
.main-center > section:nth-of-type(2) {
  position: absolute;
  top: 16.5rem;
  width: 100%;
  height: 4.82rem;
  color: #fff;
}
.main-center > section:nth-of-type(2) .c-rule2 {
  position: absolute;
  right: 0;
  width: 0.8rem;
  height: 0.65rem;
  margin-right: 0.48rem;
  cursor: pointer;
  border: 1px solid;
}
.main-center > section:nth-of-type(2) .c-goForward {
  position: absolute;
  bottom: 0;
  width: 3.02rem;
  height: 0.72rem;
  border: 1px solid;
  left: 2.24rem;
}

.main-footer {
  width: 7.5rem;
  height: 4.35rem;
  background: url("../image/main-footer.png") no-repeat;
  background-size: 100% 100%;
  margin-top: -1px;
}
